<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h2>楽曲操作システム</h2>
        <form th:action="@{/menu}" method="post">
            <input type="submit" name="select" value="一覧">
            <input type="submit" name="insert" value="登録">
            <input type="submit" name="update" value="更新">
            <input type="submit" name="delete" value="削除">
        </form>
    </div>
</body>
</html>
